<h2 class="page_header">Search Books</h2>
<form action="/books" method="GET">
  <div class="form_row">
    <div class="form_item">
      <label>Title</label>
      <input type="text" name="title" value="<%=searchOptions.title%>" />
    </div>
  </div>

  <div class="form_row">
    <div class="form_item">
      <label>Published After</label>
      <input
        type="date"
        name="publishedAfe"
        value="<%=searchOptions.publishedAfe%>"
      />
    </div>
    <div class="form_item">
      <label>Published Before</label>
      <input
        type="date"
        name="publishedBefore"
        value="<%=searchOptions.publishedBefore%>"
      />
    </div>
  </div>
  <div class="form_row form_row_end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>

<%-include('../partials/bookGrid', {books:books, large:true})%>
