:root {
  --color-btn-primary-bg: hsl(var(--color-base-hue), 100%, 83%);
  --color-btn-primary-text: hsl(var(--color-base-hue), 100%, 20%);
  --color-btn-primary-bg-hover: hsl(var(--color-base-hue), 100%, 73%);
  --color-btn-primary-text-hover: hsl(var(--color-base-hue), 100%, 10%);
  --color-btn-border: black;
  --color-btn-danger-text: black;
  --color-btn-danger-bg: hsl(var(--color-danger-hue), 100%, 83%);
  --color-btn-danger-text-hover: black;
  --color-btn-danger-bg-hover: hsl(var(--color-danger-hue), 100%, 73%);
}

.btn {
  border: 1px solid var(--color-btn-border);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-family: "Gotham Rounded";
  cursor: pointer;
  text-align: center;
}
.btn-primary {
  color: var(--color-btn-primary-text);
  background-color: var(--color-btn-primary-bg);
  transition: ease 0.3s;
}
.btn-danger {
  color: var(--color-btn-danger-text);
  background-color: var(--color-btn-danger-bg);
  transition: ease 0.3s;
}
.btn-primary:hover {
  color: var(--color-btn-primary-text-hover);
  background-color: var(--color-btn-primary-bg-hover);
}
.btn-danger:hover {
  color: var(--color-btn-danger-text-hover);
  background-color: var(--color-btn-danger-bg-hover);
}
.btn_row {
  display: flex;
  align-items: flex-start;
}
.btn_row > * {
  margin-left: 1rem;
}
.btn_row > *:first-child {
  margin-left: 0;
}
.book_details {
  display: flex;
}
.book_details_label {
  font-size: 1.2rem;
  font-weight: 500;
  align-items: flex-start;
}
.book_details_grid {
  display: grid;
  align-content: flex-start;
  align-items: center;
  grid-gap: 1rem;
  grid-template-columns: auto auto;
}
.book_details_btn_grid {
  display: grid;
  justify-items: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  grid-template-areas:
    "edit delete"
    "author author";
  grid-gap: 0.5rem;
  margin-top: 0.5rem;
}
.book_details_author_btn {
  grid-area: author;
  justify-self: stretch;
}
